<section class="cards contenedor-estilos">
            
            <div class="contenedor">
                <h1 class="titulo">Contacto</h1>
                <form action="" class="form">
                    <input class="input campos"  type="text" name="" id="" placeholder="Nombre">
                    <input class="input campos"  type="email" name="" id="" placeholder="Email">
                    <textarea  class="input" name="" id="" cols="30" rows="10" placeholder="Mensaje"></textarea>
                    <input class="input"  type="submit" value="Enviar">
                </form>
            </div>
                
            
</section>
