@{
    ViewData["Title"] = "Home Page";
}


        <div class="contenedor-main contenedor">
            <div class="item">
                <h1>E-VIDEO</h1>
                <p>
                    Descargue E-VIDEO para poder editar todos sus videos. 
                    cambiandole el formato, realizando capturas de frames, 
                    cambiandole la resolución, extrayéndole el audio o suprimiendoselo.

                </p>

                <a asp-controller="Home" asp-action="Servicios"><button>Saber Más</button></a>
            </div>
            <div class="item"><img src="~/img/video.svg" alt="imagen 1"></div>
        </div>

