<div class="contenedor-main contenedor">
        <div class="item">
            <div class="center">
                <h1 class="titulo">Registrese</h1>
                <form class="sesion">
                    <div class="campo_texto">

                        <input type="text" required>
                        <span></span>
                        <label for="">Nombre de usuario</label>

                    </div>

                    <div class="campo_texto">

                        <input type="email" required>
                        <span></span>
                        <label for="">Email</label>

                    </div>
                    
                    <div class="campo_texto">

                        <input type="password" required>
                        <span></span>
                        <label for="">Contraseña</label>

                    </div>

                    <div class="campo_texto">

                        <input type="password" required>
                        <span></span>
                        <label for="">Repita la contraseña</label>

                    </div>

                    <input type="submit" name="" value="Crear" class="registrar">
                </form>
            </div>
        </div>
        <div class="item"><img src="~/img/registro.svg" alt="imagen1"></div>
    </div>
