<section class="cards contenedor-estilos">
            <h1 class="titulo">Servicios</h1>
            <div class="content-cards content-cards-space">
                
                <article class="card">
                    <i class="fa-solid fa-file-video"></i>
                    <h2>Cambiar formato</h2>
                    <p>La aplicacion puede realizar cambios de formatos a .mp4, .avi, .mpeg o .flv.</p>
                    
                </article>
                <article class="card">
                    <i class="fa-solid fa-expand"></i>
                    <h2>Cambiar resolucion</h2>
                    <p class="parrafo">El video se puede adaptar a cinco resoluciones diferentes.</p>
                    
                </article>
                <article class="card">
                    <i class="fa-solid fa-image"></i>
                    <h2>Captura de pantalla</h2>
                    <p class="parrafo">Usted puede capturar en una imagen el momento exacto que quiera.</p>
                    
                </article>

                
            </div>

            <div class="content-cards">
                <article class="card">
                    <i class="fa-solid fa-file-audio"></i>
                    <h2>Guardar Audio</h2>
                    <p class="parrafo">Si lo desea usted puede guardar unicamente el audio del video en formato .mp3.</p>
                    
                </article>
                <article class="card">
                    <i class="fa-solid fa-volume-xmark"></i>
                    <h2>Suprimir Audio</h2>
                    <p class="parrafo">Se puede guardar unicamente el video en formato .mp4 sin el audio.</p>
                    
                </article>
                <article class="card">
                    <i class="fa-solid fa-arrow-right-from-bracket"></i>
                    <h2>Log in</h2>
                    <p class="parrafo">La aplicacion tiene un sistema de log in que permite el registro de usuario brindando mayor seguridad al usarla.</p>
                    
                </article>

                
            </div>
        </section>
