<section class="cards contenedor-estilos">
            <h1 class="titulo">Tutorial</h1>
            <div class="content-cards-tutorial ">

                <article class="card-tutorial">
                    <div class="columna1">
                        <img src="~/img/tutorial1.png" alt="" id="myImg">
                    </div>
                    <div class="columna2">
                        <h2>1-selecciono un archivo</h2>
                        <p class="parrafo">Debe seleccionar un archivo para poder editarlo.</p>
                    </div>
                </article>

                <article class="card-tutorial">
                    <div class="columna1">
                        <img src="~/img/tutorial2.png" alt="" id="myImg1">
                    </div>
                    <div class="columna2">
                        <h2>2-introducir nuevo nombre</h2>
                        <p class="parrafo">Ingrese un nombre para poder guardar el nuevo archivo editado.</p>
                    </div>
                </article>

                <article class="card-tutorial">
                    <div class="columna1">
                        <img src="~/img/tutorial3.png" alt="" id="myImg2">
                    </div>
                    <div class="columna2">
                        <h2>3 - Seleccionar alguna de las opciones</h2>
                        <p class="parrafo">Debe elegir alguna de las opciones para editar el archivo. En el caso de capturar un frame debe indicar el momento que quiere capturar.</p>
                    </div>
                </article>

                <article class="card-tutorial">
                    <div class="columna1">
                        <img src="~/img/tutorial4.png" alt="" id="myImg3">
                    </div>
                    <div class="columna2">
                        <h2>4 - Guardar el archivo</h2>
                        <p class="parrafo">Por ultimo debe guardar el archivo editado pulsando algun boton indicado y elegir en que lugar del dispositivo lo va a guardar. </p>
                    </div>
                </article>

            </div>






        </section>

        <!-- The Modal -->
            <div id="myModal" class="modal">
                <span class="close">&times;</span>
                <img class="modal-content" id="img01">
                <div id="caption"></div>
            </div>

            