/* ---- reset ---- */
body {
    margin: 0;
    font: normal 75% Arial, Helvetica, sans-serif;
}

canvas {
    display: block;
    vertical-align: bottom;
}

/* ---- particles.js container ---- */
#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

/* ---- stats.js ---- */
.count-particles {
    background: #000022;
    position: absolute;
    top: 48px;
    left: 0;
    width: 80px;
    color: #13E8E9;
    font-size: .8em;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.js-count-particles {
    font-size: 1.1em;
}

#stats,
.count-particles {
    -webkit-user-select: none;
    margin-top: 5px;
    margin-left: 5px;
}

#stats {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
}

.count-particles {
    border-radius: 0 0 3px 3px;
}

/*Utilidades*/

.contenedor {
    max-width: 1100px;
    margin: auto;
    width: 95%;
}

img {
    max-width: 100%;
}


/*estilos: */
.contenedor-header {
    height: 100vh;
    background-color: #ad7418;
    background: linear-gradient(90deg, #00a2ff 0%, #8ad8f0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    gap: 8rem;
    position: absolute;
    z-index: 1;
}



.item h1 {
    font-weight: lighter;
    line-height: 4rem;
    font-size: 2.6rem;
    text-transform: capitalize;
    color: #fff;
}

.item p {
    font-size: 16px;
    color: #fff;
    line-height: 2rem;
    margin: 2rem 0;
    text-align: justify;
}

.item button {
    width: 10rem;
    height: 3rem;
    background: transparent;
    text-transform: uppercase;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 50px;
    cursor: pointer;
}

.item:nth-of-type(2) {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*navegador:*/

nav {
    position: absolute;
    top: 0;
    width: 100%;
    height: 5rem;
    padding: .5rem 0;
}

    nav .contenedor {
        display: flex;
        justify-content: space-between;
    }

.contenedor .contenedor-izquierda {
    display: inherit;
    align-items: center;
}

.contenedor h2 {
    font-size: 2rem;
    color: #fff;
}

.logo {
    text-decoration: none;
}

.contenedor-links {
    margin-left: 4rem;
}

    .contenedor-links a {
        margin-right: 2.5rem;
        color: #fff;
        font-size: 16px;
        text-transform: capitalize;
        text-decoration: none;
    }

.contenedor-derecha {
    display: inherit;
    align-items: center;
}

    .contenedor-derecha button {
        width: 10rem;
        height: 3rem;
        border-radius: 50px;
        background-color: transparent;
        border: 2px solid #fff;
        font-size: 1.2rem;
        color: #fff;
        outline: none;
        cursor: pointer;
    }

/*estilos servicios*/

.contenedor-estilos {
    width: 90%;
    max-width: 1000px;
    overflow: hidden;
    margin: auto;
    padding: 0 0 80px 0;
    position: absolute;
}

    .contenedor-estilos h1 {
        margin-top: 170px;
        text-align: center;
    }

.contenedor {
    padding: 80px 0;
}

.titulo {
    font-weight: lighter;
    line-height: 4rem;
    font-size: 2.6rem;
    text-transform: capitalize;
    color: #fff;
    margin-bottom: 35px;
}



/* Cards */

.content-cards {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.content-cards-space {
    margin-bottom: 15px;
}

.card {
    width: 30%;
    text-align: center;
    height: 300px;
    box-shadow: 0 0 3px 0 #fff;
    transform: scale(1);
    transition: transform 0.6s;
    background-color: transparent;
}
    .card h2 {
        color: #00214d;
        font-size: 20px;
    }
    .card:hover {
        box-shadow: 0 0 6px 0 #fff;
        transform: scale(1.03);
        cursor: pointer;
    }

    .card i {
        margin: 30px 0 20px 0;
        color: #fff;
        font-size: 50px;
    }

    .card p {
        font-weight: 300;
        font-size: 20px;
        margin-bottom: 10px;
        text-align: left;
        color: #fff;
        margin-top:20px;
        margin-left: 40px;
        margin-right: 10px;
    }

    


/*Contacto:*/
.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.input {
    background: transparent;
    border: 0;
    color: #fff;
    outline: none;
    border: 1px solid #fff;
    padding: 20px 10px;
}

    .input::placeholder {
        color: #fff;
        font-family: 'raleway', 'sans-serif';
    }

input[type="text"],
input[type="email"] {
    width: 100%;
    margin-bottom: 30px;
}

.form textarea {
    width: 100%;
    margin-bottom: 15px;
}

input[type="submit"] {
    width: 120px;
    text-align: center;
    padding: 14px 0;
}

    input[type="submit"]:hover {
        cursor: pointer;
        color: #00214d;
        background: #fff;
    }

/*tutorial*/

.content-cards-tutorial {
    width: 90%;
    margin-top: -20px;
    margin-bottom: -93px;
    justify-content: center;
    padding-left: 30px;
}

.card-tutorial {
    box-shadow: 0 0 3px 0 #fff;
    background-color: transparent;
    column-count: 2;
    margin-bottom: 15px;
}


.columna1 {
    width: 60%;
}

    .columna1 img {
        width: 100%;
        margin-left: 100px;
        z-index: 2;
        cursor: pointer;
        border-radius: 5px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

.columna2 h2 {
    color: #00214d;
    font-size: 20px;
    z-index: 1;
}

.columna2 p {
    font-weight: 300;
    font-size: 18px;
    margin-bottom: 10px;
    text-align: justify;
    color: #fff;
    margin-left: 10px;
    margin-right: 10px;
}

/*mostrar imagen*/

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 100%;
    max-width: 1000px;
    border-radius: 5px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 1000px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content,
#caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

    .close:hover,
    .close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    }

/*log in*/

.center {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%,-50%);
    width: 400px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.021);
    border: 1px solid rgb(184, 209, 238);
}

    .center h1 {
        text-align: center;
        padding: 0 0 20px 0;
        border-bottom: 2px solid rgb(184, 209, 238);
        color: #fff;
    }

    .center form {
        padding: 0 40px;
        box-sizing: border-box;
    }

form .campo_texto {
    position: relative;
    margin: 30px 0;
    border-bottom: 2px solid #00a2ff;
}

.campo_texto input {
    width: 100%;
    margin-bottom: 0px;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    background: none;
    border-radius: 10px;
    border: none;
    outline: none;
    color: #1d2e3a;
}

.campo_texto label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: rgb(184, 209, 238);
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.campo_texto span::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0px;
    width: 0%;
    height: 2px;
    background: #2691d9;
    transition: .5s;
}

.campo_texto input:focus ~ label,
.campo_texto input:valid ~ label {
    top: -5px;
    color: #fff;
}

.campo_texto input:focus ~ span::before,
.campo_texto input:valid ~ span::before {
    width: 100%;
}

.sesion input[type="submit"] {
    width: 100%;
    height: 50%;
    border: 1px solid #2691d9;
    background: #2691d9;
    border-radius: 10px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    outline: none;
}

    .sesion input[type="submit"]:hover {
        border-color: rgb(1, 235, 252);
        transition: .5s;
    }

.registro_usuario p {
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: rgb(184, 209, 238);
}

.registro_usuario a {
    color: rgb(0, 51, 99);
    text-decoration: none;
}

    .registro_usuario a:hover {
        text-decoration: underline;
    }

.registrar {
    margin-bottom: 10px;
}


/*responsive*/
@media screen and (max-width:800px) {
    /* Cards */

    .card {
        width: 90%;
        margin-bottom: 20px;
    }
}

@media screen and (max-width:400px) {


    .card {
        height: 380px;
    }
}
